body {
    padding: 20px;
    display : flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}


/* 
===============================

Barre en haut

==============================
*/


/* 
===============================

Todo-container

==============================
*/

.todo-container {
    background-color: red;
    width: 70%;
}

/* 
===============================

Todo-option

==============================
*/

.task {
    width: 30%;
    background-color: blue;
}

.taskOption {
    height: 100vh;
    display: flex;
}

ul {
    padding-left: 0;
}

.task-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.task-item.selected {
    background-color: #e0f7fa;
    border-radius: 5px;
}

.delete {
    cursor: pointer;
}
/* 
===============================

Todo-Text

==============================
*/

.edit {
    width: 70%;
     border: 1px solid black;
}