body {
    padding: 20px;
    display : flex;
    justify-content: center;
}

p {
    margin: 0;
    padding: 0;
}


/* 
===============================

Barre en haut

==============================
*/


/* 
===============================

Todo-container

==============================
*/

.todo-container {
    background-color: red;
    width: 70%;
}

/* 
===============================

Todo-option

==============================
*/

.task {
    width: 30%;
    background-color: blue;
}

.taskOption {
    height: 100vh;
    display: flex;
}

ul {
    padding-left: 0;
}

.task-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    align-items: center;
    padding: 5px 10px;
}

.task-item li {
    list-style: none;
}

.task-item.selected {
    background-color: #e0f7fa;
    border-radius: 5px;
}

.delete {
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
}
/* 
===============================

Todo-Text

==============================
*/

.edit {
    width: 70%;
     border: 1px solid black;
}

.low, .medium, .high, .unknown {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-left: 5px;
}

.low { background: green; }
.medium { background: orange; }
.high { background: red; }
.unknown { background: gray; }